@import "tailwindcss";


/* Asegura que html y body ocupen el 100% */
html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Evita scroll horizontal */
}



/* Asegura que el root ocupe TODO */
#root {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}